@media (max-width: 1600px) {
    .container{
        max-width: 1250px   ;
    }
    .hero{
        &__title{
            font-size: 80px;
        }
    }
    .portfolio{
        &__img{
            width: 800px;
        }
    }
    .skills{
        &__img{
            width: 800px;
        }
    }
    .text{
        font-size: 40px;
    }
}
@media (max-width: 1300px) {
    .container{
        max-width: 992px;
    }
    .hero{        
        &__title{
            font-size: 65px;
        }
        &-video{
            &__video{
                max-width: 300px;
            }
        }
    }
    .portfolio{
        &__img{
            width: 600px;
        }
    }
    .skills{
        &__img{
            width: 600px;
        }
        &__info{
            &-text{
                margin-top: 30px;
            }
        }
    }
    .text{
        font-size: 35px;
    }
    .specialist{
        &__imgs{
            width: 780px;
            justify-content: center;
            align-items: center;
    }

    }
}
@media (max-width: 1050px) {
    .container{
        max-width: 750px;
    }
    .nav{
        &__link{
            &:not(:last-child) {
                margin-right: 55px;
            }
        }
    }
    .hero{
        &__title{
            font-size: 48px;
        }
        &-video{
            &__video{
                max-width: 240px;
            }
            &__volume{
                width: 20px;
                height: 20px;
            }
            &__play{
                font-size: 25px;
                width: 70px;
                height: 70px;
            }
            &__link{
                font-size: 22px;
                width: 235px;
            }
        }
    }
    .portfolio{
        &__img{
            width: 500px;
        }
    }
    .skills{
        margin-top: 0;
        &__img{
            width: 500px;
            margin-left: 30px;
        }
    }
    
}

@media (max-width: 768px) {
    body{
        padding-top: 132px;
    }
    .container{
        max-width: 550px;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: #131417;
        z-index: 90;
    }
    .logo{
        width: 50px;
        &__img{
            width: 100%;
        }
    }
    .nav{
        display: none;

        &--active{
            padding-top: 100px;
            position: fixed;
            top: 0;
            left: -100%;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #000;
            z-index: 100;
            transition: all .2s;
        }
        &--anim{
            left: 0;
            transition: all .2s;
        }
        &__link{
            &:not(:last-child){
                margin: 0;

            }
        }
    }
    .menu{
        &-button{
            &--mobile{
                position: relative;
                z-index: 101;
                display: flex;
            }
        }
    }
    .hero{
        padding-top: 30px;
        padding-bottom: 100px;
        &__inner{
            flex-direction: column;
        }
    }
    .portfolio{
        &__inner{
            flex-direction: column;
        }
        &__img{
            margin: 0;
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .skills{
        &__inner{
            flex-direction: column;
        }
        &__img{
            order: 1;
            margin: 0;
        }
        &__info{
            order: 2;
        }
    }
    .specialist{
        &__imgs{
            width: auto;
        }
        &__item{
            margin-bottom: 40px;

        }
    }
    .text{
        text-align: center;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 85%;
    }
    .logo{
        width: 32px;
    }
    .header{
        padding-top: 96px;
        &__logo{
            margin-left: 18px;
        }
    }
    .hero{
        padding-top: 40px;
        &__inner{
            width: 100%;
        }
        &__title{
            width: 100%;
            font-size: 36px;
        }
        &-video{
            &__video{
                max-width: 205px;
                
            }
            &__volume{
                width: 14px;
                height: 14px;
            }
            
            &__link{
                font-size: 18px;
                width: 220px;
                &-img{
                    display: inline;
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
    .portfolio{
        padding-top: 67px;
        &__img{
            width: 336px;
        }
        &__info{
            &-text{
                margin-top: 18px;
                margin-bottom: 21px;
                >br{
                    display: block;
                }
            }
            &-link{
                font-size: 28px;
            }
        }
    }
    .text{
        font-size: 28px;
        line-height: 100%;
        width: 280px;

    }
    .skills{
        padding-top: 83px;
        &__img{
            width: 322px;
        }
        &__info{
            &-text{
                margin-top: 0px;
                &:first-child{
                    margin-top: 17px;
                }
            }
        }
    }
    .specialist{
        padding-top: 99px;
        &__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__text{
            margin-bottom: 85px;
            >br{
                display: none;
            }
        }
        &__imgs{
            justify-content: space-between;
        }
        &__item{
            flex-basis: 49%;
            width: auto;
            margin-bottom: 27px;    
        }
    }
    .tnt{
        order: 1;
    }
    .toyota{
        order: 2;
    }
    .cocacola{
        order: 3;
    }
    .baikal{
        order: 4;
    }
    .DOGM{
        order: 5;
    }
    .blackstar{
        order: 6;
    }
    .henkel{
        order: 7;
    }
    .splat{
        order: 8;
    }
}

@media(hover: hover) and (pointer: fine){
    .nav{
        &__link{
            &:hover{
                color: #FF9B07;
            }
        }

    }
    .hero{
        &-video{
            &__link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .portfolio{
        &__info{
            &-link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}