@media(hover: hover) and (pointer: fine){
    .nav{
        &__link{
            &:hover{
                color: #FF9B07;
            }
        }

    }
    .hero{
        &-video{
            &__link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .portfolio{
        &__info{
            &-link{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}