@import '_fonts.scss';

h1{
    font-family: 'ALS Hauss';
}
h2{
    font-family: 'ALS Hauss';
    font-weight: 500;
}
h3{
    font-family: 'ALS Hauss';
    font-weight: 400;
}
h4{
    font-family: 'Bona Nova';
    font-style: italic;
}