doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title tu
        link(rel="stylesheet", href="css/index.css")
    body 
        header.header 
            div.container
                div.header__inner
                    a.logo(href="#")
                        img.logo__img(src="img/logo.png", alt="tu")
                    nav.nav
                        a.nav__link(href="#") Курсы
                        a.nav__link(href="#") Наймите выпускника
                        a.nav__link(href="#") Личный кабинет
                    button.menu-button.menu-button--mobile
                        span.menu-button__line
                        span.menu-button__line
                        span.menu-button__line
            section.hero 
                div.container
                    div.hero__inner
                        h1.hero__title
                            |школа 
                            br
                            |диджитал навыков
                            br 
                            | от 
                            span.hero__title-word практикующих
                            br
                            | профессионалов
                        div.hero-video
                            video.hero-video__video
                                source( src="video/video.webm" type="video/webm")
                                source( src="video/video.ogv" type="video/ogg")
                                source( src="video/video.mp4" type="video/mp4")
                                object(data="video/video.swf" type="application/x-shockwave-flash")
                                    param(name="movie" value="video/video.swf")
                            div.hero-video__play Play 
                            div.hero-video__volume.hero-video__volume--mute 
                                img.hero-video__volume-mute.mute(src="img/mute.svg", alt="No volume")
                                img.hero-video__volume-unmute.unmute(src="img/unmute.svg", alt="Unmute")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
        script(src="js/main.js") 