doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title tu
        link(rel="stylesheet", href="css/index.css")
    body 
        div.header 
            div.container
                div.header__inner
                    a.logo(href="#")
                        img.logo__img(src="img/logo.png", alt="tu")
                    nav.nav
                        a.nav__link(href="#") Курсы
                        a.nav__link(href="#") Наймите выпускника
                        a.nav__link(href="#") Личный кабинет
                    button.menu-button.menu-button--mobile
                        span.menu-button__line
                        span.menu-button__line
                        span.menu-button__line


        script(src="js/main.js") 